In [2]:
student_name = "Max Kirsh"  # String (text)
student_age = 17                # Integer (whole number)
student_gpa = 3.75              # Float (decimal number)
is_passing = True               # Boolean (True/False)

# Print with descriptive labels
print("Name:", student_name)
print("Age:", student_age)
print("GPA:", student_gpa)
print("Passing:", is_passing)

Name: Max Kirsh
Age: 17
GPA: 3.75
Passing: True

In [5]:
# Use type() to check what kind of data is stored
course_name = "Database Applications"
course_code = 145085

print("Type of course_name:", type(course_name))  # 
print("Type of course_code:", type(course_code))  #

Type of course_name: <class 'str'>
Type of course_code: <class 'int'>

In [1]:
# Your code here
adult_price = 12.50 
child_price = 7.50
num_adults = 2
num_children = 3

total_cost = adult_price * num_adults + child_price * num_children

print(total_cost)

47.5

In [4]:
# Combining strings together
first = "Max"
last = "Kirsh"
age = 17

# Method 1: Using + operator
full_name = first + " " + last
print(full_name)

# Method 2: Using f-strings (formatted string literals)
message = f"Hello! My name is {first} {last} and I am {age} years old."
print(message)

Max Kirsh
Hello! My name is Max Kirsh and I am 17 years old.

In [5]:
length = 10
width = 5
area = length * width
print("The area is:", area)

The area is: 50

In [6]:
# Import pandas with the standard alias 'pd'
import pandas as pd

# Now we can use pandas functions by typing pd.function_name()
print("Pandas version:", pd.__version__)

Pandas version: 2.2.3

In [9]:
# Load a CSV file into a DataFrame
# Replace 'sample.csv' with your actual filename
data = pd.read_csv('Titanic Dataset.csv')

# The data is now stored in a DataFrame object
# A DataFrame is like a spreadsheet - it has rows and columns